/* We are going to change the style for the footer */

.creditLink {
color: black;
background-color: white;
}

.creditLink {
    color: #634610;
  }

  .leftFooterColumn {
    padding-left: 7%;
  }

  .list-inline-item {
    color: #d6728b
  }