.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    opacity: 0.8;
  }

  .loginContainer {
    min-height: 50vh;
  }
  .registerForm {
    height: auto;
    text-align: center;
    padding: 2px 2px;
    width: 450px;
    margin: 5% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    border-radius: 10px;
    background-color: rgb(139, 101, 101);
  }

  .helpForm {
    color: blue;
    padding: 1px;
  }
