.linkContainer {
  margin-top: 25px;
}
.apexlogo-container {
  margin: 5px 2px 5px 2px;
}
.navBarBrand {
  color: darkred;
}

.logo-navbar {
  width: 100px;
  height: 100px;
  float: left;
  margin: 4px;
}

.autoNavbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.dropdownBackground {
  background-color: #753e5e !important;
}
.dropDown {
  color:yellow;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navBarLink{
  padding: 5px 10px;
  color: #3737eb  !important;
  font-size: 1.5rem;
}
.navBarLink :hover {
  color: greenyellow !important; 
}

.dropDown {
  color: brown;
  font-size: 1.3rem;
  margin-top: 20px;
}

.dropDownLink {
  color: rgb(44, 2, 2);
  font-size: 1rem;
}

.navButtons{
  margin-top: 10px;
  color: blueviolet;
  font-size: 1.2rem;
}