.registrationForm {
    width: 450px;
    margin: 5% auto;
    background-color: rgb(102, 100, 100);
    text-align: center;
    border-radius: 20px;
    padding: 2% 2%;
}
.button {
    background-color: #4CAF50;
    color: rgb(220, 183, 224);
    margin: 2% 2% 3% 3%;
    border: none;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
  }

  .button:hover {
    opacity: 0.8;
    background-color: rgba(107, 52, 30, 0.233);
    cursor: pointer;
  }
  .errorNotification {
      color: rgb(178, 216, 88);
      margin-bottom: 14px;
  }