.listGraphicsType {
    width: 20%;
    min-height: 75vh;
    background-color:lightcyan;
    border: darkblue;
    float: left;
    padding: 3% 5%;
    min-height:70vh;
}
.myGraphicsColumn {
    background-color:lightsalmon;
    width: 80%;
    padding: 3%;
    float: right;
    min-height: 70vh;
}