
.columnContent {
   width: 25%;
   background-color: blanchedalmond;
   float: left;
   height: auto;
   padding: 3% 5%;
   color: var(--mainGrey); 
}
.groupContent {
    width: 80%;
    background-color: lightblue;
    padding: 5%;
    float: right;
    min-height: 70vh;
    text-align: center;
}