@import url('https://fonts.googleapis.com/css?family=Cantarell:italic|Droid+Serif:bold');

* {
    box-sizing: border-box;
    font-family: 'Cantarell', serif;
}

body {
    margin: 0;
    padding: 0;
}