.GraphicsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.editButton {
    background-color: goldenrod; 
    color: black; 
    border: 2px solid #4CAF50;
}
.editButton:hover {
    background-color: #4CAF50;
    color: white;
}

.cancelButton {
    background-color: lemonchiffon; 
    color: black; 
    border: 2px solid #f44336;
}
.cancelButton:hover {
    background-color: #f44336;
    color: white;
}
.graphics {
    text-align: center;
    padding: 30px;
    margin: 5px;
    width: 25%;
    background-color: beige;
    border-radius: 6px;
    box-shadow: 3px 6px;
    text-shadow: 2px 2px 2px rgb(27, 5, 48);
}

.graphicsType {
    float: left;
    box-shadow: 3px 6px;
    text-shadow: 2px 2px 2px rgb(11, 156, 161);
}

.graphicsArtist {
    float: right;
    box-shadow: 3px 6px;
    text-shadow: 2px 2px 2px rgb(219, 7, 71);
}
.graphicsQuality {
    float: center;
    box-shadow: 3px 6px;
    text-shadow: 2px 2px 2px rgb(11, 236, 41);
}

.graphicsViewer {
    float: center;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
    width: 75%;
    background-color: beige;
    border-radius: 6px;
    box-shadow: 3px 6px;
    text-shadow: 2px 2px 2px rgb(36, 29, 43);
}