.GraphicsContainer {
    display: flex;
    flex-wrap: wrap;
}

.graphics {
    text-align: center;
    padding: 30px;
    margin: 4%;
    width: 20%;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 3px 6px;
}

.graphicsType {
    float: left;

}

.graphicsArtist {
    float: left;

}
.graphicsQuality {
    float: left;

}