.EditUsersForm {
    width: 460px;
    padding: 2% 4%;
    margin: 5% auto;
    border: none;
    background-color: #f1f1f1;
    text-align: center;
}

.form-group {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: yellow;
    text-emphasis: bold black;

}

.displayErrorMessage {
    color: goldenrod;
    margin-inline: 8px;
    background-color: #ddd;
    outline: none;

}

.form-check {
    display: block;
}

.formConfirm {
    display: block;
}

.checkLabel {
    background-color: #f1f1f1;
    text-align: center;
    border: 2px solid brown;
    margin-bottom: 25px;
}

.confirmButton{
    background-color: rgb(184, 112, 19);
    color:grey;
    padding: 16px 20px;
    margin: 0% 10%;
    border-radius: 7%;
    width: 60%;
    position: relative;
    font-weight: bolder;
}

.confirmButton:hover{
    opacity: 1;
    background-color: indianred;
    cursor: pointer;

}


.cancelButton {
    background-color: rgb(13, 183, 206);
    color:grey;
    padding: 16px 20px;
    margin: 0% 10%;
    border-radius: 7%;
    width: 60%;
    position: relative;
    font-weight: bolder;
}
.cancelButton:hover{
    opacity: 1;
    background-color: rgb(230, 13, 13);
    cursor: pointer;
}
